*{
	margin: 0;
	padding: 0;
}

.square {
	width: 200px;
	height: 200px;
	border-style: solid;
	border-color: black;
}

#main	{
	align-content: center;
	padding: 20px;
	margin: 20px;
}
.grid	{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	width: 618px;
	height: 618px;
}

.mole	{
	background-image: url('images/avacado.png');
	background-size: contain;
	background-repeat: no-repeat;
	
}
