* {
	margin: 0;
	padding: 0;
}

footer  {
    font-size: .5rem;
    text-align: center;
}

main{
    padding: .75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top:.75rem;
    width: 85%;
}      

#dashboardHeader  {
  line-height: 1.5rem
}

.dataMap, #map, #map2 {
    height: 500px;
}

.dataList   {
    height: 500px;
}

.dataDef    {
    height: 200px;
}
#current-phase  {
    font-size: 1.25rem;
    font-weight: 900;
}

.increase   {
    background-color: green;
    color: white;
    padding: .5rem;
    border-radius: 5px;
    margin: .5rem;
}

.decrease   {
    background-color: red;
    color: white;
    padding: .5rem;
    border-radius: 5px;
    margin: .5rem;
}

.stable   {
    background-color: yellow;
    color: black;
    padding: .5rem;
    border-radius: 5px;
    margin: .5rem;
}

.infInc   {
    background-color: red;
    color: white;
    padding: .5rem;
    border-radius: 5px;
    margin: .5rem;
}

.infDec   {
    background-color: green;
    color: white;
    padding: .5rem;
    border-radius: 5px;
    margin: .5rem;
}

.infStable   {
    background-color: yellow;
    color: black;
    padding: .5rem;
    border-radius: 5px;
    margin: .5rem;
}

.ui-widget-header   {
    padding: .5rem;
    text-align: center;
}

